.add-button__image{
    background-image: url(../../../images/add-button/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    max-width: 22px;
    height: 22px;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .add-button__image{
        max-width: 16px;
        height: 16px;
    }
}